#tabletflex {
    display: flex;
}

body {
    margin: 0;
}

header {
    background-image: url(../images/lighthouselogo.jpg);
    background-color: #869dc7;
    background-size: 30%;
    background-position: left;
    background-repeat: no-repeat;
}

h1 {
    font-family: "serif";
    font-size: 3em;
    font-weight: 500;
    line-height: 400%;
    text-align: center;
    margin: 0;
}

h1 a {
    text-decoration: none;
}

nav {
    font-family: "serif";
    color: white;
    background-color: pink;
}

a {
    text-decoration: none;
    color: white;
}

/* Flex stuff go here */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#nav-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#nav-flex-container li {
    border: 2px solid white;
    padding: 10px;
    font-weight: bold;
}
/* Flex stuff ends here */

footer {
    font-family: "Century Gothic", "serif";
    font-size: smaller;
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-left: 10%;
}

h3 {
    font-family: "sans-serif";
    color: rgb(34, 147, 240);
}

ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

#wrapper {
    background-color: #8da4ce;
}

main {
    overflow: hidden;
    padding-left: 20px;
    background-color: white;
}

#secondcol, #lastcol {
    background-color: white;
}

aside {
    background-color: white;
    padding: 50px;
}

#copyright {
    font-family: "serif";
    font-style: italic;
    text-align: center;
    clear: both;
}

@media only screen and (max-width: 768px) {
    #tabletflex {
        display: flex;
        flex-wrap: nowrap;
    }

    .flex-container {
        display: inline;
        flex-wrap: wrap;
    }

    #navcontainer {
        height: 50px;
        background-color: #869dc7;
    }

    #nav-flex-container {
        display: inline;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }

    #nav-flex-container li {
        border: none;
        background-color: pink;
        display: inline;
        margin: 10px;
    }

    #lastcol {
        display: flex;
    }
}

@media only screen and (max-width: 480px) {
    header {
        background-image: url(../images/lighthouselogo.jpg);
        background-color: #869dc7;
        background-position: left;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        background-size: 70%;
    }

    h1 {
        transform: scaleX(-1);
        color: darkblue;
        text-align: left;
        line-height: 150%;
        padding: 10px;
        font-weight: bold;
    }

    img {
        display: none;
    }

    #navcontainer {
        height: 100%;
        margin: auto;
        background-color: white;
        border: 1px solid white;
    }

    #nav-flex-container li {
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 2px;
        text-align: left;
    }

    #lastcol {
        display: none;
    }
}